<%- include ("./partials/head") %>

    <div class="overview">
        <div class="hero">
            <div class="profileStats">
                <article>
                    <img id="icon" src="<%- postData.icon%>" alt="Player Icon">
                    <span><%= postData.prestige %><%= postData.level %></span>
                    <span><%= postData.name %></span>
                    <span><%= postData.gamesWon %></span>
                    <span><%= postData.endorsement %></span>
                </article>
            </div>
        </div>
    </div>
    <div>
        <div class="competitiveStats">
            <h1>Huidig competitief seizoen</h1>

            <% heroes.forEach(function(hero) { %>
                <a href="/heroes/<%= hero.name %>">
                    <article>
                        <h2>
                            <%= hero.name %>
                        </h2>
                        <img src="img/portraits/<%= hero.name.replace(/([A-B])/g, '-$1').replace(/(\d+)/g, '-$1').toLowerCase()%>.png" alt="<%= hero.name %> Portrait" loading="lazy" width="180" height="310">
                    </article>
                </a>
                <% }) %>
        </div>
    </div>

    <%- include ("./partials/footer.ejs") %>